body {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    padding: 0.1%;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

header p a {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

nav {
    background-color: rgb(255, 196, 0);
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
}

.nav-pages {
    text-decoration: none;
    color: black;
    padding: 1%;
    transition: 1s;
    color: white;
}

.nav-pages:hover {
    transition: 500ms;
    background-color: rgb(255, 174, 0);
}

.post {
    width: 50%;
    margin: 5% auto 5% auto;
    padding: 2%;
    border-radius: 5px;
}

@media screen and (max-width: 800px) {
    .post {
        width: 90%;
    }
    nav {
        font-weight: 500;
        padding: 2%;
    }
}

#post-title {
    font-size: xx-large;
}

figure {
    margin: 0;
}

footer {
    background-color: black;
    padding: 1%;
    color: white;
    text-align: center;
}